[core]
  autocrlf = true
  editor = notepad
  mergeoptions = --no-ff
  pager = less -r
  excludesfile = ~/.gitignore
[user]
  name = Anthony Mastrean
  email = anthony.mastrean@gmail.com
[help]
  autocorrect = 1
[pull]
  rebase = true
[diff]
  algorithm = patience
	tool = diffmerge
[difftool]
  prompt = false
[mergetool]
  prompt = false
[alias]
  standup = log --since yesterday --oneline --author ''
  pretty = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
  l = log --oneline --decorate
  wdiff = diff --word-diff --patience
  stat = status --short --branch
  purge = clean --force -xd
[push]
  default = simple
[difftool "diffmerge"]
	cmd = C:/Program\\ Files/SourceGear/Common/DiffMerge/sgdm.exe \"$LOCAL\" \"$REMOTE\"
[merge]
	tool = diffmerge
[mergetool "diffmerge"]
	trustExitCode = true
	cmd = C:/Program\\ Files/SourceGear/Common/DiffMerge/sgdm.exe /merge /result=\"$MERGED\" \"$LOCAL\" \"$BASE\" \"$REMOTE\"
