[core]
  editor        = notepad
  pager         = less -r
  excludesfile  = ~/.gitignore
[user]
  name          = Anthony Mastrean
  email         = anthony.mastrean@gmail.com
[help]
  autocorrect   = 1
[commit]
  verbose       = true
[diff]
  algorithm     = patience
  tool          = diffmerge
[difftool]
  prompt        = false
[mergetool]
  prompt        = false
[alias]
  stash-all     = stash save --include-untracked
  wdiff         = diff --word-diff --patience
  branch-prune-ps = "!powershell.exe -NoLogo -NonInteractive -NoProfile -Command 'git checkout master; git branch --merged master | ?{ -not($_ -eq \"* master\") } | %{ git branch -D $_.trim() }'"
[push]
  default       = simple
[pull]
  rebase        = true
[rebase]
  autostash     = true
[difftool "diffmerge"]
  cmd           = "sgdm.exe \"$LOCAL\" \"$REMOTE\""
[merge]
  ff            = only
  tool          = diffmerge
[mergetool "diffmerge"]
  trustExitCode = true
  cmd           = "sgdm.exe --merge --result=\"$MERGED\" \"$LOCAL\" \"$BASE\" \"$REMOTE\""
[remote "origin"]
	prune = true
[color]
	ui = auto
