[core]
  editor        = notepad
  pager         = less -r
  excludesfile  = ~/.gitignore
[user]
  name          = Anthony Mastrean
  email         = anthony.mastrean@gmail.com
[help]
  autocorrect   = 1
[commit]
  verbose       = true
[diff]
  algorithm     = patience
  tool          = diffmerge
[difftool]
  prompt        = false
[mergetool]
  prompt        = false
[alias]
  standup       = log --author '' --color --decorate --oneline --since yesterday
  pretty        = log --decorate --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
  wdiff         = diff --word-diff --patience
  stat          = status --short --branch
  purge         = clean --force -xd
  edit          = commit --amend
  unstage       = reset HEAD
[push]
  default       = simple
[difftool "diffmerge"]
  cmd           = "sgdm.exe \"$LOCAL\" \"$REMOTE\""
[merge]
  tool          = diffmerge
[mergetool "diffmerge"]
  trustExitCode = true
  cmd           = "sgdm.exe --merge --result=\"$MERGED\" \"$LOCAL\" \"$BASE\" \"$REMOTE\""
