[alias]
	stash-all = stash save --include-untracked
	vanity-sha = !MSYS_NO_PATHCONV=1 docker run --rm -it -v $PWD:/git -v $HOME:/root anthonymastrean/git-vanity-sha
[commit]
	gpgsign = true
	verbose = true
[color]
	ui = auto
[core]
	editor = code --reuse-window --wait
	pager = less -r
	excludesfile = ~/.gitignore
[diff]
	algorithm = patience
	colorMoved = default
	tool = code
[difftool]
	prompt = false
[difftool "code"]
	cmd = code --reuse-window --wait --diff $LOCAL $REMOTE
[fetch]
	prune = true
	pruneTags = true
[gpg]
	program = C:\\Program Files (x86)\\GNU\\GnuPG\\pub\\gpg.exe
[help]
	autocorrect = 1
[merge]
	algorithm = patience
	ff = only
	tool = code
[mergetool]
	prompt = false
[mergetool "code"]
	trustExitCode = true
	cmd = code --reuse-window --wait $MERGED
[pull]
	rebase = merges
[push]
	default = simple
[rebase]
	autoStash = true
[user]
	email = anthony.mastrean@gmail.com
	name = Anthony Mastrean
	signingkey = D74C32B8293FEB8B
[winUpdater]
	recentlySeenVersion = 2.24.1.windows.2
