[core]
    editor = notepad
    pager = less -r
    excludesfile = ~/.gitignore
[user]
    name = Anthony Mastrean
    email = anthony.mastrean@gmail.com
    signingkey = D74C32B8293FEB8B
[help]
    autocorrect = 1
[commit]
    verbose = true
    gpgsign = true
[diff]
    algorithm = patience
    tool = code
    colorMoved = default
[difftool]
    prompt = false
[mergetool]
    prompt = false
[alias]
    stash-all = stash save --include-untracked
    wdiff = diff --word-diff --patience
    branch-prune = "!git fetch --all; git branch --merged master | grep -v master | xargs -0 -r git branch -d"
    vanity-sha = !MSYS_NO_PATHCONV=1 docker run --rm -it -v $PWD:/git -v $HOME:/root git-vanity-sha
[push]
    default = simple
[pull]
    rebase = true
[rebase]
    autoStash = true
[difftool "code"]
    cmd = code --wait --diff $LOCAL $REMOTE
[merge]
    ff = only
    tool = code
[mergetool "code"]
    trustExitCode = true
    cmd = code --wait $MERGED
[remote "origin"]
    prune = true
[color]
    ui = auto
[gpg]
    program = C:\\Program Files (x86)\\GnuPG\\bin\\gpg.exe
[winUpdater]
    recentlySeenVersion = 2.18.0.windows.1
