#---[ AntiVirus ]--------------------------------
.cekey

#---[ Git / Merge ]------------------------------
*.orig
*.rej

#---[ Mac ]--------------------------------------
.DS_Store

#---[ Vagrant ]----------------------------------
.vagrant

#---[ Windows ]----------------------------------
Thumbs.db
